<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219281741671-2to6d1jehvg5lbcvp5lovtv53oladr5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219281741671-2to6d1jehvg5lbcvp5lovtv53oladr5l</string>
	<key>API_KEY</key>
	<string>AIzaSyAMmWpV6SXsuecuVfHZXboOEYEjSYHCTss</string>
	<key>GCM_SENDER_ID</key>
	<string>219281741671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatiOS</string>
	<key>PROJECT_ID</key>
	<string>chatios-3e350</string>
	<key>STORAGE_BUCKET</key>
	<string>chatios-3e350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219281741671:ios:7eccc7e36b1e2326d941c2</string>
	<key>DATABASE_URL</key>
	<string>https://chatios-3e350.firebaseio.com</string>
</dict>
</plist>